.page {
  width: 100vw;
  font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: normal;
  background-color: #FFF;
  color: #1A1B22;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.fon {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 576px;
  background: url('../../images/unsplash.png') no-repeat;
  background-size: cover;
}
