.header {
    display: flex;
    height: 80px;
    width: 100%;
    color: #FFF;
    border-bottom: 1px solid hsla(0,0%,100%,.2);
    font-style: normal;
    line-height: 24px;
}

.header_dark {
    color: #1A1B22;
    border-bottom: none;
    box-shadow: inset 0 -1px 0 #D1D2D6;
}

.header__burger {
    display: none;
    border: none;
    height: 24px;
    width: 24px;
    outline: none;
    background: url("../../images/menu.png") no-repeat center;
    cursor: pointer;
    transition: opacity .4s ease-in-out;
}

.header__burger:hover {
    transition: opacity .4s ease-in-out;
    opacity: .8;
}

.header__container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    max-width: 1232px;
    width: 100%;
    margin: 0 auto;
}
.header__title-link {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    transition: opacity .4s ease-in-out;
}

.header__title-link:hover {
    transition: opacity .4s ease-in-out;
    opacity: .8;
}

.header__title {
    font-family: Roboto Slab, sans-serif;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

@media screen and (max-width: 1000px ){
    .header {
        height: 66px;
    }

    .header__container {
        margin: 0 40px 12px;
    }

    .header__title-link {
        font-size: 20px;
    }
}

@media screen and (max-width: 630px) {
    .header {
        height: 56px;
        justify-content: space-between;
        transition: background-color .4s ease-in-out;
    }

    .header__background_black {
        background-color: #1A1B22;
        transition: background-color .4s ease-in-out;
    }

    .header__container {
        margin: 0 16px;
    }

    .header__burger {
        display: block;
    }

    .header__burger_dark {
        background-image: url('../../images/menu-dark.png');
    }

    .header__burger_background_close {
        background-image: url('../../images/close-menu.png');
    }
}
