.footer {
    width: 100%;
    min-height: 80px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    display: flex;
    align-items: center;
}

.footer__container {
    max-width: 1232px;
    width: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.footer__copyright {
    font-size: 16px;
    line-height: 22px;
    color: #B6BCBF;
}

.footer__nav-container {
    display: flex;
    align-items: center;
}

.footer__links-item {
    margin-right: 28px;
}

.footer__links-item:last-of-type {
    margin-right: 0;
}

.footer__text-links {
    display: flex;
    list-style: none;
    padding-left: 0;
    flex-direction: row;
    margin-right: 42px;
}

@media screen and (max-width: 1000px) {
    .footer {
        min-height: 64px;
    }

    .footer__container {
        margin: 0 40px;
    }

    .footer__text-links {
        margin-right: 25px;
    }

}

@media screen and (max-width: 630px){
    .footer__container {
        box-sizing: border-box;
        margin: 0 16px 20px;
        flex-direction: column-reverse;
    }

    .footer__nav-container {
        width: 100%;
        justify-content: space-between;
        align-items: baseline;
    }

    .footer__copyright {
        margin-top: 38px;
    }

    .footer__text-links {
        flex-direction: column;
    }
}
